ffmpy
git+https://github.com/kokarare1212/librespot-python
music_tag
Pillow
protobuf
tabulate
tqdm
spotipy
deezloader==2020.6.7
deezer-python==2.2.3
music_tag==0.3.2
mutagen==1.44.0
praw==7.2.0
python-telegram-bot==13.5
google_auth_oauthlib==0.4.1
beautifulsoup4==4.9.3
google_api_python_client==2.8.0
protobuf==3.17.3
PyPDF2==1.26.0
psycopg2-binary
